main {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

#outer-container {
  display: flex;
  justify-content: center;
  margin: 5em;
}

/* <!-- LEFT SIDE CONTAINER --> */
#left-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid hotpink;
  padding: 1em;
  width: 30%;
}

#profile-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid blue;
  padding: 2em;
}


/* <!-- RIGHT SIDE CONTAINER --> */
#right-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid hotpink;
  padding: 1em;
  margin-left: 2em;
  width: 70%;
}

#nav-container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid blue;
  width: 90%;
  margin-bottom: 1em;
}

#nav-container li {
  list-style-type: none;
  display: inline;
  margin: 1em;
}

#repo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 1px solid blue;
  width: 90%;
  height: 50%;
  margin-bottom: 1em;
  padding: .5em;
}

/* <!-- CARDS --> */

#repo-card {
  width: 13em;
  height: 8em;
  margin: .5em;
}

#repo-card-text {
  font-size: 12px;
}

.column {
  float: left;
  width: 13em;
  height: 8em;
  border: 1px solid black;
  margin: .5em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


#create-project-container {
  border: 1px solid blue;
  width: 90%;
  height: 20%;
  padding: 2em;
}

/* <!-- FOOTER CONTAINER --> */
#footer-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid orange;
  padding: 1em;
}

#footer-container li {
  list-style-type: none;
  display: inline;
}

#footer-container li {
  margin: 1.5em;
}

