main {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

#outer-container {
  display: flex;
  justify-content: center;
  height: 900px;
}



/* <!-- LEFT SIDE CONTAINER --> */

#left-container {
  display: flex;
  justify-content: center;
  border: 1px solid hotpink;
  width: 20%;
  margin-left: 5em; 
}

#profile-container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  border: 1px solid blue;
  width: 100%;
  padding: 1em;
}

#profile-pic {
  width: 80%;
  border-radius: 50%;
  border-bottom: 1em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

#profile-bio {
  font-size: 12px;
  margin-bottom: 1em;
}

#profile-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.btn-sm {
  font-size: 10px;
}

#organization-profiles {
  margin-bottom: 1em;
}

#organization-icon-images {
  width: 20%;
  border-radius: 50%;
  margin-bottom: 1em;
}

#sponsors {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#sponsor-profiles {
  display: flex;
  flex-flow: column wrap;
}


#sponsor-icon-images {
  width: 20%;
  border-radius: 50%;
  margin-bottom: 1em;
}



/* <!-- RIGHT SIDE CONTAINER --> */

#right-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid hotpink;
  padding: .5em;
  width: 70%;
}

#nav-container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid blue;
  width: 100%;
  margin-bottom: 1em;
}

#nav-container li {
  list-style-type: none;
  display: inline;
  margin: 1em;
}

#overview-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 1px solid blue;
  width: 100%;
  height: 55%;
  margin-bottom: 1em;
  padding: .5em;
}

#create-project-container {
  border: 1px solid blue;
  width: 100%;
  height: 30%;
  padding: 2em;
}



/* <!-- CARDS --> */

#overview-card {
  width: 16.8em;
}

.overview-card-text {
  font-size: 10px;
}

#overview-btn {
  font-size: .7em;
}



/* <!-- FOOTER CONTAINER --> */

#footer-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid orange;
  padding: 1em;
}

#footer-container li {
  list-style-type: none;
  display: inline;
}

#footer-container li {
  margin: 1.5em;
}

li a {
  font-size: 1em;
}

/* Icons */

#github-icon {
  width: 2em;
}
