main {
  border: 1px solid red;
  padding: 10em;
  display: flex;
  flex-direction: column;
  margin: 5em;
}

#outer-container {
  border: 1px solid green;
  padding: 5em;
  display: flex;
  flex-direction: row;
  margin: 5em;
}

#left-container {
  border: 1px solid purple;
  padding: 5em;
  margin: 5em;
}

#right-container {
  border: 1px solid purple;
  padding: 5em;
  margin: 5em;
}

#footer-container {
  border: 1px solid blue;
  padding: 5em;
  margin: 5em;
}
