main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}

#outer-container {
    display: flex;
    justify-content: center;
    height: 55em;
}


/* <!-- LEFT SIDE CONTAINER --> */

#left-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid hotpink; */
    width: 20%;
    height: 100%;
    margin-left: 5em;
}

#profile-container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    padding: 1em;
}

#profile-pic {
    width: 80%;
    border-radius: 50%;
    border-bottom: 1em;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#profile-bio {
    font-size: 12px;
    margin-bottom: 1em;
}

#profile-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.btn-sm {
    font-size: 10px;
}

#organization-profiles {
    margin-bottom: 1em;
}

#organization-icon-images {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 1em;
}

#sponsors {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#sponsor-profiles {
    display: flex;
    flex-flow: column wrap;
}

#sponsor-icon-images {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 1em;
}

#packages-icon-images {
    width: 8%;
    border-radius: 50%;
    margin-bottom: .5em;
    padding-right: .2em;
}


/* <!-- RIGHT SIDE CONTAINER --> */

#right-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid hotpink; */
    padding: .5em;
    width: 70%;
    height: 100%;
}

#nav-container {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid blue; */
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
}

#overview-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border: 1px solid blue; */
    width: 100%;
    height: 28em;
    margin-bottom: 1em;
}

#create-project-container {
    /* border: 1px solid blue; */
    width: 100%;
    height: 25em;
}


/* <!-- CARDS --> */

#overview-card {
    width: 16.8em;
}

.overview-card-text {
    font-size: 10px;
}

#overview-btn {
    font-size: .7em;
}


/* <!-- FORMS --> */

form {
    /* border: 1px red solid; */
}

form label {
    font-weight: 600;
}

form a {
    text-decoration: none;
    color: #38e038;
    font-size: 1rem;
}

#h3-title {
    font-size: 1.5em;
}

#form-label-name {
    font-size: .8em;
}

#form-text {
    font-size: .8em;
}

#form-description-title {
    font-size: .8em;
}

#form-btn {
    font-size: 12px;
}


/* <!-- FOOTER CONTAINER --> */

#footer-container {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid orange; */
    padding: 1em;
}

#footer-container li {
    list-style-type: none;
    display: inline;
}

#footer-container li {
    margin: 1.5em;
}

li a {
    font-size: 1em;
}


/* Icons */

#github-icon {
    width: 2em;
}


/* Packages Section */
#packages-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* border: 4px solid blue; */
}
/* Projects Page CSS HR */

#projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* border: 1px solid blue; */
  width: 100%;
  height: 28em;
  margin-bottom: 1em;
}

#packages-card-container {
  display: flex;
  flex-wrap: wrap;
  /* border: 3px brown solid; */
  max-height: 25em;
  overflow: hidden;
  overflow-y: scroll;
}

#packages-icons {
  width: 1em;
}

#timeUpdated {
  width: 1em;
}

/* REPOS */

#repo-top-row {
    max-height: 25em;
    overflow: hidden;
    overflow-y: scroll;
}

.buttons-container,
.repoCardBottomContainer {
    display: flex;
    flex-flow: row wrap;
}


/*END*/
