main {
  display: flex;
  flex-direction: column;
}

#outer-container {
  display: flex;
  justify-content: center;
  height: 55em;
}

/* <!-- LEFT SIDE CONTAINER --> */

#left-container {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
  margin-left: 5em;
}

#profile-container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 0.5em;
}

#profile-pic {
  width: 80%;
  border-radius: 50%;
  border-bottom: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

#profile-bio {
  font-size: 12px;
  margin-bottom: -0.2em;
  margin-top: 0.2em;
}

#profile-buttons {
  display: flex;
  justify-content: space-evenly;
}

.btn-sm {
  font-size: 10px;
}

#organization-icon-images {
  width: 18%;
  border-radius: 50%;
  margin-bottom: -0.2em;
}

#sponsors {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#sponsor-profiles {
  display: flex;
  flex-flow: column wrap;
}

#sponsor-icon-images {
  width: 20%;
  border-radius: 50%;
  margin-bottom: 1em;
}

/* <!-- RIGHT SIDE CONTAINER --> */

#right-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 70%;
  height: 100%;
}

#nav-card-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
}

#overview-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 28em;
  margin-bottom: 1em;
}

#pinned-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

#create-project-container {
  /* border: 1px solid blue; */
  width: 100%;
  height: 25em;
}

/* FORMS */

form label {
  font-weight: 600;
}

form a {
  text-decoration: none;
  color: #38e038;
  font-size: 1rem;
}

#h3-title {
  font-size: 1.5em;
}

#form-label-name {
  font-size: 0.8em;
}

#form-text {
  font-size: 0.8em;
}

#form-description-title {
  font-size: 0.8em;
}

#form-btn {
  font-size: 12px;
}

/* OVERVIEW-PINNED CARD PAGE CSS MODS */

#pinned-icons {
  width: 1.1em;
  margin: 0.5em;
  background-color: lightgrey; 
  border-radius: 50%;
}

.overview-card-text {
  font-size: 10px;
}

#overview-btn {
  font-size: 0.7em;
}

.pinned-card {
  border: 1px solid rgb(78, 78, 78);
  color: 1px solid rgb(59, 57, 57);
}

#pinned-cards {
  max-height: 25em;
  overflow: hidden;
  overflow-y: scroll;
}

#footer-container {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid orange;
  padding: 1em;
}

#footer-container li {
  list-style-type: none;
  display: inline;
}

#footer-container li {
  margin: 1.5em;
  color: darkgrey;
}

#footer-container li a {
  font-size: 1em;
  color: darkgrey;
}

#github-icon {
  width: 3em;
}

/* PACKAGES PAGE CSS MODS */

#packages-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#packages-card-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 25em;
  overflow: hidden;
  overflow-y: scroll;
}

#packages-icons {
  width: 1em;
}

#packages-icon-images {
  width: 8%;
  border-radius: 50%;
  margin-bottom: 0.5em;
  padding-right: 0.2em;
}

/* PROJECTS PAGE CSS MODS */

#projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  height: 28em;
  margin-bottom: 1em;
}

#projects-top-row {
  max-height: 25em;
  overflow: hidden;
  overflow-y: scroll;
}

#timeUpdated {
  width: 1em;
}

#projects-icon-images {
  width: 8%;
  border-radius: 50%;
  margin-bottom: 0.5em;
  padding-right: 0.2em;
}

#projects-form-btn {
  font-size: 12px;
}

#navbar-icon {
  width: 1em;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* REPOS CSS MODS*/

#repo-top-row,
#pinned-cards {
  max-height: 25em;
  overflow: hidden;
  overflow-y: scroll;
}

.buttons-container,
.repoCardBottomContainer {
  display: flex;
  flex-flow: row wrap;
}

#repo-icons {
  width: 1em;
  color: darkgrey;
}
